 {
  box-sizing: border-box;
}
.contact-container{
	text-align: center;

}
.contact-container h2{
	font-size: 50px;
}
.contact-container p{
	font-size: 20px;
}
input[type=text],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
.contact{
    background: radial-gradient(#fff, #ffd6d6);
    width: 1080px;
    height: 800px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
    
}
.contact column{
	margin-top: 10px;
}
/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}
